<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        WanderLust
    </title>
</head>
<body>
    <nav>
        <h1>WanderLust</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listings">Listings</a></li>
            <li><a href="/listings/new">New Listing</a></li>
        </ul>
    </nav>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>